/* Genrmany Flag */
.container-germany {
  border: 1px  black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.black {
  background-color: black;
  height: 50px;
  width: 200px;
  margin: 0 0px;
}

.red-germany {
  background-color: red;
  height:50px;
  width:200px;
  margin: 0 0px;
}

.yellow-germany {
  background-color: yellow;
  height: 50px;
  width:200px;
  margin: 0 0px 50px;
}


/* French Flag */
.container-france {
  border: 1px  black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 
}

.blue-france {
  background-color:blue;
  height: 200px;
  width: 100px;
}

.white-france {
  background-color: grey;
  height: 200px;
  width: 100px;
}

.red-france {
  background-color: red;
  height: 200px;
  width:100px;
}


/* Flag Madagascar */
.madagascar-container {
  display: flex;
  margin: 80px auto 0 auto;
  height: 230px;
}

.white {
  background-color: #E8E1DF;
  width: 110px;
}

.red {
  background-color: #fc3d32;
  height: 50%;
  width: 280px;
}

.green {
  background-color: #007e3a;
  height: 50%;
  width: 280px;

}
